language: shell

services:
  - docker

env:
  - LATEST=a6d70be1758c0bb6a55ffb7e9e37f6c7b8f1a035

before_install:
  - export PWD=$(pwd)
  - sudo /sbin/sysctl -w vm.max_map_count=262144
  - cd api_builder
  - docker build -t atzedevries/api-builder ./
  - cd $PWD
  - docker run --name es -d -e ES_JAVA_OPTS="-Xms512m -Xmx512m" elasticsearch:5.1.2 elasticsearch -Ecluster.name="nba-cluster" -Enetwork.host="_site_"
  - mkdir $PWD/payload
  - echo "machine github.com" > ~/.netrc
  - echo "\t login $GITHUB_USER" >> ~/.netrc
  - echo "\t password $GITHUB_PASS" >> ~/.netrc
  - git clone https://github.com/naturalis/naturalis_data_api
  - cd naturalis_data_api
  - git checkout $LATEST
  - export DOCKER_TAG=$(git describe)

before_script:
  - sleep 10
  - docker logs es
  - docker exec es curl localhost:9200
  - cd $PWD

script: docker run --rm -v $PWD/payload:/payload -v $PWD/naturalis_data_api:/source --link es:es atzedevries/api-builder /build-nba-service.sh install-service

after_success:
  - git clone https://github.com/AtzeDeVries/docker-nba-api
  - cd docker-nba-api
  - cp -fr $PWD/payload/* ./
  - git add *
  - git commit -a -m 'master/latest automatich travis ci build'
  - docker build -t atzedevries/docker-nba-api:latest ./
  - docker login -u atzedevries -p $DOCKER_PASS
  - docker tag atzedevries/docker-nba-api:latest atzedevries/docker-nba-api:latest
  - docker push atzedevries/docker-nba-api:latest
