language: shell

services:
  - docker

before_install:
  - export PWD=$(pwd)
  - sudo /sbin/sysctl -w vm.max_map_count=262144
  - cd api_builder
  - docker build -t atzedevries/api-builder ./
  - cd ~
  - docker run --name es -d -e ES_JAVA_OPTS="-Xms512m -Xmx512m" elasticsearch:5.1.2 elasticsearch -Ecluster.name="nba-cluster" -Enetwork.host="_site_"
  - mkdir ~/payload
  - echo "machine github.com" > ~/.netrc
  - echo "\t login $GITHUB_USER" >> ~/.netrc
  - echo "\t password $GITHUB_PASS" >> ~/.netrc
  - git clone https://github.com/naturalis/naturalis_data_api
  - cd naturalis_data_api
  - git checkout $TRAVIS_BRANCH
  - export DOCKER_TAG=$(git describe)

before_script:
  - sleep 10
  - docker logs es
  - docker exec es curl localhost:9200
  - cd ~

script: docker run --rm -v ~/payload:/payload -v ~/naturalis_data_api:/source --link es:es atzedevries/api-builder sh /build-nba-service.sh install-etl-module

after_success:
  - git clone https://github.com/AtzeDeVries/docker-nba-etl
  - cd docker-nba-etl
  - git checkout -b $DOCKER_TAG
  - cp -fr ~/payload/* ./
  - echo $DOCKER_TAG > version
  - git add *
  - git commit -a -m 'automatic travis ci build'
  - git push -u origin $DOCKER_TAG
  - docker build -t atzedevries/docker-nba-etl:$DOCKER_TAG ./
  - docker login -u atzedevries -p $DOCKER_PASS
  - docker tag atzedevries/docker-nba-etl:$DOCKER_TAG atzedevries/docker-nba-etl:$DOCKER_TAG
  - docker push atzedevries/docker-nba-etl:$DOCKER_TAG
  - docker logout
